<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockInfo</title>
    <link rel="stylesheet" type="text/css" href="styles/mainStyles.css">
    <link rel="stylesheet" type="text/css" href="styles/tooltip.css">
    <link rel="stylesheet" type="text/css" href="styles/resetPage.css">
    <link rel="stylesheet" type="text/css" href="styles/sidebar.css">
</head>
<body>
    <div class="page">
        <div class="sidebar">
            <div class="topsidebar">
                <h1 class="title_sidebar">StockInfo</h1>
                </br>
                <span>Made By: JP Mitchell</span>
            </div>
            <div class="bottomsidebar">
                <a href="/" class="firstboxside">Graphing</a>
                <a href="/analysis" class="secondboxside">Analysis</a>
                <a href="/metrics" class="thirdboxside">Metrics</a>
                <a href="/report" class="fourthboxside">Generate Report</a>
            </div>
        </div>

        <div class="top">
            <div class="titlediv">
                <h1 class="title">Graphing</h1>
            </div>
            <form action="" method="POST" class="form">
                <div class="firstinput">
                    <label for="first_input_data" class="firsttext">List of Tickers (separated by a comma):</label>
                    <div class="tooltipdiv1">
                        <input type="text" id="first_input_data" name="first_input_data" class="firstbox" spellcheck="false"
                            placeholder="Check Tooltip for format" role="presentation" autocomplete="off" required>
                        <span class="tooltip">i</span>
                        <span class="tooltiptext">Correct Format: aapl, mcd, tsla</span>
                    </div>
                </div>
                <div class="secondinput">
                    <label for="second_input_data" class="secondtext">Days back:</label>
                    <div class="tooltipdiv2">
                        <input type="text" id="second_input_data" name="second_input_data" class="secondbox" spellcheck="false"
                            placeholder="Enter" role="presentation" autocomplete="off" required>
                        <span class="tooltip">i</span>
                        <span class="tooltiptext">Integer greater than 0</span>
                    </div>
                </div>
                <button type="submit" class="submitbut">Submit</button>
            </form>
        </div>
        <div class="bottom">
            {% if message %}
                <p class="error-message">{{ message }}</p>
            {% endif %}
            {% if img_data %}
                <img src="data:image/png;base64,{{ img_data|b64encode }}" alt="Stock Graph" class="img">
            {% endif %}
        </div>
    </div>
</body>
</html>

