.metrics-container {
    width: 30%;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 2px solid orange;
}

.ticker {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.metrics-details {
    padding: 10px;
}

.metric-item {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
    color: #555;
}

.value {
    color: #000;
}

.submitbutM {
    margin-bottom: 30px;
    margin-top: 35px;
}

.metrics-container-header {
    border-bottom: 2px solid orange;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0 auto; 
    width: 45%; 
    box-sizing: border-box;
}
