/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: url('../images/stockbackground.jpg') no-repeat center center fixed; */
    background-color: darkgrey;
    background-size: cover;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}