
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #09080a; */
}

body {
    background: url('../images/stockbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

/* .page {
    background-color: none;
} */

.title {
    font-weight: bold;
    color: orange;
    font-size: 65px;
}

.titlediv {
    /* border: 2px solid orange; */
    /* width: 220px; */
    margin: auto;
    margin-bottom: 20px;
    font-family: Courier New, monospace;
}

.top {
    text-align: center;
    padding: 40px;
}

.top .form {
    padding-bottom: 5px;
}

.bothinputs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.firstinput {
    display: grid;
    font-size: 20px;
    margin-bottom: 6px;
}

.firstbox {
    background-color: white;
    border: 1px solid orange;
    color: orange;
    margin: auto;
    width: 300px;
    padding: 3px;
    font-weight: bold;
    padding-left: 7px;
}

.firsttext {
    color: darkgrey;
    font-weight: bold;
    margin-bottom:3px;
    font-size: 22px;
    font-family: DejaVu Sans Mono, monospace;
}

.secondinput {
    display: grid;
    font-size: 20px;
    margin-bottom: 35px;
}

.secondbox {
    width: 70px;
    background-color: white;
    border: 1px solid orange;
    color: orange;
    margin:auto;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.secondtext {
    color: darkgrey;
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 22px;
    font-family: DejaVu Sans Mono, monospace;
}

.submitbut {
    width: 150px;
    height: 50px;
    font-size: x-large;
    color: orange;
    font-weight: bold;
    border: 2px solid orange;
    background-color: white;
}

.bottom {
    text-align: center;
    /* padding-bottom: 50px */
}

.bottom .img {
    width: 1000px;
    height: auto;
    border: 2px solid orange;
}
